body {
  margin: 0px;
}
h1 {
    margin: 0px;
}
* {
  box-sizing: border-box;
  font-family: Rubik;
}
.menu {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.image {
  width: 155px;
  margin-top: 10px;
}
.menu-options {
  width: 200px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 13px;
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.link1,
.link2 {
  text-decoration: none;
  color: #4a4a4a;
}
.link2 {
  padding-left: 10px;
}
.link1 {
  padding-right: 10px;
}
.main {
  width: 100%;
  height: 100vh;
  padding-top: 117px;
  background-color: #3cdbc0;
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* BOXES
/* .menu {
  border: 3px solid red;
} */
/* .image {
  border: 3px solid blue;
}
.menu-options {
  border: 3px solid rgb(0, 255, 21);
} */
/* .main {
  border: 3px solid rgb(238, 255, 0);
} */ */
